parameters:
	ignoreErrors:
		-
			message: '#^Anonymous function has an unused use \$image\.$#'
			identifier: closure.unusedUse
			count: 1
			path: Classes/Service/FaviconHandler.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: Classes/Service/FaviconHandler.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: Classes/Service/FaviconHandler.php
